h1{
    text-align: center;
    animation: name;
    animation-duration: 2s;
}
img{
    display: block;
    margin: auto;
    animation: picture;
    animation-duration: 2s;
}
@keyframes name{
    from{
        transform: translate3d(12px, 50%, 3em) rotate(0.5turn);
    }
    to{
        transform: rotate3d(1, 2, 3, 10deg);
    }
}
@keyframes picture{
    0%{
        transform: translateX(2em);

    }
    25%{
        transform: scale(2, 0.5);
    }
    50%{
        transform: skewY(1.07rad);
    }
    100%{
        transform: rotateZ(10deg);
    }
}

